.logo
{
	background: url(../../media/t26-logo.png) no-repeat center;
	background-size: contain;
	width: auto;
	height: 15vh;
}

.logo-subtitle
{
	font-family: "tower26";
	letter-spacing: 2px;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 20px;
	padding-bottom: 20px;
}

.social
{
	display: flex;
	color: white;
	font-size: 20px;
	justify-content: center;
	position: absolute;
	bottom: 80px;
	width: 100%;
}
.social-link { margin: 4px 20px; color: white !important; cursor: pointer; opacity: 0.5;}
.social-link:hover { opacity: 1; color: white;}
